* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 2.5em;
    padding-top: 0.5em;
    animation: Johan 1.3s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 50em;

}

#doggies{
    width: 65%;
}

ul,li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-top: 1.5em;
    font-size: 1.5em;
    flex-wrap: wrap;
    cursor: pointer;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
    font-size: 2em;
    color: white;
}
#footer{
    background-color: black
}

@keyframes Johan{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

